{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/renderer/index.css"
}
